HYPERLIQUID_ACCOUNT_ADDRESS=0x8def9f50456c6c4e37fa5d3d57f108ed23992dae
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1456628042062631004/CfyRsGzvjl0mi4l0_hUL9-5dqBnKtZfafP3RmIjehTEZadyPWy_02W6SsWiGC7WHdrrR
